@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}

.wrapper {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 260px;
    height: 1200px;
    padding: 0 1.7rem;
    overflow: hidden;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.2);
}

.wrapper-col h3 {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.wrapper-col p {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.wrapper-col img {
    margin-left: 30%;
}

.wrapper-link {
    list-style: none;
    margin-top: 20%;
    padding: 0;
}

.wrapper-link li{
    padding: 1rem;
    margin: 8px 0;
    
}

.links .edit {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.edit:hover {
    color: grey;
}

.links i{
    font-size: 20px;
}
