@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 1rem;
}

a:hover {
    color: grey;
}

/* ---appointment header---- */

.box {
    position: relative;
    width: 100%;
    margin-left: 3%;
}

.box-header {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    padding: 10px 1rem;
    background: #4682b4;
    border-radius: 10px;
    width: 99%
}

.col h2 {
    text-align: left;
    color: black;
    
}

/*-------user container---------*/

.user-container {
    margin-top: 2%;
    margin-bottom: 1rem;
    padding: 10px 0;
    width: 100%;
    border-radius: 10px;
}

.user-header {
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 99%;
    margin-right: 30%;
    font-size: 15px;
}

th, td {
    padding: 10px;
    text-align: left; 
    border-bottom: 1px solid black;
}

th {
    background-color: #a7c7e7;
    
}

