@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background: rgb(228,175,175);
    background: radial-gradient(circle, rgba(228,175,175,1) 0%, rgba(226,180,132,1) 100%);
}

td a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

a:hover {
    color: grey;
}

/* ---appointment header---- */

.box {
    position: relative;
    width: 100%;
    margin-left: 3%;
}

.box-header {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    padding: 10px 1rem;
    background: orangered;
    border-radius: 10px;
    width: 99%
}

.col h2 {
    text-align: left;
    color: black;
    
}

/*-------appointment container---------*/

.appointment-container {
    margin-top: 2%;
    margin-bottom: 1rem;
    padding: 10px 0;
    width: 100%;
    border-radius: 10px;
}

.appointment-header {
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 99%;
    margin-right: 30%;
}

th, td {
    padding: 10px;
    text-align: center; 
    border-bottom: 1px solid black;
    overflow: hidden;
}

th {
    background-color: #feceb1;
    
}

.appointment-btn {
    width: 20%;
    padding: 10px 0;
    border-radius: 10px;
    margin-top: 2%;
    border: none;
    background-color: orangered;
}

.appointment-btn:hover {
    background-color: transparent;
    border: 1px solid black;
}

.btn {
    width: 43%;
    height: 30px;
    background: #001220;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 11px;
    color: white;
    margin-left: 7%;
}

.btn:hover {
    background: transparent;
    color: black;
}


